%h1 Переписка с администратором

%table.table.table-bordered.table-condensed.table-hover
  %tr
    %th.td-18
      \#
    %th
      Пользователь
    %th
      Сообщениее

  - @messages.each_with_index do |message, index|

    %tr
      %td.td-18
        = index + 1
      %td
        = message.author.full_info
      %td
        = message.message

= simple_form_for @message, :html => { class: "horizontal_form" } do |f|
  = f.input :author_id,  input_html: {value: current_user.id}, as: :hidden
  = f.input :message, label: "Сообщение", as: :text

  = f.button :submit, "Отпрвить", class: 'btn btn-primary'
  = link_to "Отмена", :back, class: "btn btn-default"