%h1 Переписка с администратором

- @messages.each do |message|
  %h4
    = message.author.full_info
    \:
  %div(style="#{'font-weight: bold;' if message.author.admin?  }")
    = message.message
  %div
    ***

= simple_form_for @message, :html => { class: "horizontal_form" } do |f|
  = f.input :author_id,  input_html: {value: current_user.id}, as: :hidden
  = f.input :message, label: "Сообщение", as: :text

  = f.button :submit, "Отпрвить", class: 'btn btn-primary'